
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    min-height: 100vh;
    text-align: center;
    font-size: 18px; 
}

h1 {
    margin-bottom: 15px;
    font-size: 42px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 28px;
}

h3 {
    margin: 20px 0;
    font-size: 22px;
}


button {
    padding: 16px 30px; 
    margin: 12px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
    background: linear-gradient(to right, #0072ff, #00c6ff);
}



#board{
    margin: 20px auto;
    width: 420px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}


.card {
    background: rgba(255,255,255,0.15);
    border-radius: 15px;
    height: 100px; 
    width: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: rgba(255,255,255,0.35);
}

/* Green color for matched cards */
.correct-match {
    background-color: #28a745; 
    color: white;
    border: 2px solid #218838; 
}

/* Progress Bar */
.progress-container {
    width: 350px;
    background: #ccc;
    border-radius: 25px;
    margin: 25px auto;
    overflow: hidden;
}

.progress-bar {
    height: 25px;
    background: linear-gradient(to right, #00c853, #64dd17);
    text-align: center;
    font-size: 14px;
    color: white;
}

